<app-navbar></app-navbar>

<!-- <div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="assets/dosa.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Masala Dosa</h5>
                  <p class="card-text">Sri Udupi Park</p>
                  <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
              </div>
        </div>
        <div class="card">
            <img src="assets/FriedRice.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Fried Rice</h5>
              <p class="card-text">Sri Udupi Park</p>
              <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
    </div>
</div> -->

<div class="container-picture">
    <img src="assets/dosa.png" class="landing-image" alt="dosa picture">

    <h2 class="dont-starve-text"> Dont starve.</h2>
    <h1 class="main-text"> Just Order</h1>
    <h1 class="main-text"> Food Now!</h1>

    <a href="#" class="btn btn-primary btn-rounded">Order Now</a>
</div>

