<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="input-group mb-3">
        <input
          type="text"
          [(ngModel)]="searchTerm"
          placeholder="Enter restaurant name or item name"
          class="form-control"
          id="searchInput"
          (keydown.enter)="searchItemsOrVendors()"
        />
        <button (click)="searchItemsOrVendors()" class="btn btn-primary">
          Search
        </button>
      </div>
    </div>
  </div>

  <!-- Display Items Section -->
  <div class="row" *ngIf="isItemSearch">
    <div class="col-md-4" *ngFor="let item of items">
      <div class="card mb-4 shadow-sm text-center">
        <img
          [src]="getItemImageUrl(item.itemName)"
          class="card-img-top"
          alt="{{ item.itemName }}"
          (click)="showItemDetails(item)"
          data-bs-toggle="modal"
          data-bs-target="#itemDetailsModal"
        />

        <div class="card-body">
          <h5 class="card-title">{{ item.itemName | titlecase }}</h5>
          <h5 class="card-text">
            {{ getVendorName(item.vendorId) | titlecase }}
          </h5>
          <h6 class="card-body">{{ item.price | currency : "INR" }}</h6>

          <!-- Add to Cart Button -->
          <button (click)="addToCart(item)" class="btn btn-success">Add</button>

          <!-- Quantity Control -->
          <div *ngIf="localQuantities[item.itemName] > 0" class="mb-3">
            <button (click)="decreaseQuantity(item)" class="btn btn-secondary">
              -
            </button>
            <span class="mx-3">{{ localQuantities[item.itemName] || 1 }}</span>
            <button (click)="increaseQuantity(item)" class="btn btn-secondary">
              +
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for displaying item details -->
  <div
    class="modal fade"
    id="itemDetailsModal"
    tabindex="-1"
    aria-labelledby="itemDetailsModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="itemDetailsModalLabel">
            {{ selectedItem?.itemName | titlecase }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <img
            [src]="getItemImageUrl(selectedItem?.itemName)"
            class="img-fluid mb-3"
            alt="{{ selectedItem?.itemName }}"
          />
          <p>
            <strong>Price:</strong> Rs.
            {{ selectedItem?.price | currency : "INR" }}
          </p>
          <p><strong>Description:</strong> {{ selectedItem?.description }}</p>
          <p><strong>Ratings:</strong> {{ selectedItem?.ratings }}</p>
          <p>
            <strong>Vendor:</strong>
            {{ getVendorName(selectedItem?.vendorId) | titlecase }}
          </p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="addToCart(selectedItem)"
          >
            Add to Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
