
.navbar{
    background-color: black;
    border-bottom: 1px solid #e0e0e0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.d-flex{
    margin-left: 30px;
    width: 500px;
}

.navbar-brand{
    font-weight: 750;
    font-size: 2rem;
    margin-left: 10px;
    font-family: "Raleway", system-ui;
    color: #e24141;
}

.navbar-nav{
    margin-right: 10px;
}

.nav-item{
    margin-right: 35px;
    padding: 0%;
    align-items: center;
    font-family: "Raleway", system-ui;
    font-size: 20px;
    font-weight: 400;
}
