.cart-container {
    max-width: 800px;
    margin: 0 auto;
  }
  .text-orange {
    color:  #e67c3a;
  }
  .quantity-controls {
    display: flex;
    gap: 10px;
  }
  .quantity-controls button {
    padding: 5px 10px;
    background-color:  #e67c3a;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
  }
  .quantity-controls button:hover {
    background-color:  #e67c3a;
  }
  .btn {
    background-color:  #e67c3a;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  